<div class="row">
	<div class="col-md-12">
		<h1>Admin Contact Page</h1>
		<div class="jumbotron">

			<div id="entry-template" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Contact Information</h3>
				</div>
				<div class="panel-body">
					<p>Contact Information Display</p>
				</div>

				<ul class="list-group">
				</ul>

			</div>
			<!--<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Contact Information</h3>
				</div>
				<div class="panel-body">
					<p>Add your contact information below.</p>
				</div>


				<ul class="list-group">
					<li class="list-group-item">
						<div class="form-group">
							<label for="name">Name</label>
							<input class="form-control" id="name" placeholder="Restaurant Name">
						</div>
					</li>
					<li class="list-group-item">
						<div class="form-group">
							<label for="address">Address</label>
							<input class="form-control" id="address" placeholder="Restaurant Address">
						</div>
					</li>
					<li class="list-group-item">
						<div class="form-group">
							<label for="phone">Phone</label>
							<input class="form-control" id="phone" placeholder="Restaurant Phone">
						</div>
					</li>
					<li class="list-group-item">
						<div class="form-group">
							<label for="hours">Hours</label>
							<input class="form-control" id="hours" placeholder="Restaurant Hours">
						</div>
					</li>
					<li class="list-group-item">
						<div class="form-group">
							<label for="email">Email </label>
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
					</li>
					<li class="list-group-item text-center"> <button type="submit" id="submit" class="btn btn-default">Submit</button></li>
				</ul>
			</div>-->
		</div>
	</div>
</div>
